<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <add key="Browser" value="Chrome" />
    <add key="ExternalUser" value="testuseraaa" />
    <add key="ExternalUserPassword" value="Ofgem12345" />
    <add key="InternalQaaUrl" value="http://eco-qaa-iweb01.dev.corp.ofgem.gov.uk/" />
    <add key="DevInternalUrl" value="http://int-web-dev-eco.dev.corp.ofgem.gov.uk/" />
    <add key="ExternalQaaUrl" value="http://ext-web-qaa-eco.dev.corp.ofgem.gov.uk" />
    <add key="ChromeSettingsUrl" value="chrome://settings/clearBrowserData" />    
    <add key="ECODBconnection" value="Data Source=eco-qaa-Sql01.dev.corp.ofgem.gov.uk;Database=ECO;Persist Security Info=True; User ID=QAUSER; Password=Cloud2018" />
    <add key="DocumentsDBconnection" value="Data Source=eco-qaa-Sql01.dev.corp.ofgem.gov.uk;Database=Documents;Persist Security Info=True; User ID=QAUSER; Password=Cloud2018" />
    <add key="AdvancedUser" value="QAAdvanced" />
    <add key="StandardUser" value="QAStandard" />
    <add key="InternalAdminUser" value="QAInternalAdmin" />
    <add key="BasicUser" value="QABasic" />
    <add key="InternalUserPassword" value="Cloud2018" />
  </appSettings>
  <!--connectionStrings>
    <addname = "UserDBConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.1.9;Initial Catalog=UserInfo;User Id=sa;Password=Pass@word;"/>
  </connectionStrings> -->
<specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <unitTestProvider name="MsTest" />
</specFlow>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>